HW1 Preprocesamiento de datos/~$porte 1.docx
HW1 Preprocesamiento de datos/~WRL3665.tmp
HW1 Preprocesamiento de datos/bibliografia.txt
HW1 Preprocesamiento de datos/Reporte 1.docx

HW2 Analisis de sentimientos/Hotel_Reviews.csv
HW2 Analisis de sentimientos/hotel_reviews_processed.csv
HW5 Redes Convolucionales/export_model/vgg2_model_weights.h5
